/* pagina */
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee9e9;
    font-size:x-large;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* fim pagina */

.publicar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.publicar label {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #1E293B;
    margin: 10px 0 5px;
}

.publicar input {
    width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border: 2px solid #a3a2a2;
    font-size: 16px;
    background-color: #ffffff00;
    color: black;
}

.publicacoes {
    background-color: white;
    height: 100px;
    width: 100px;
}