/* cabeçalho */
header {
    background-color: rgb(255, 255, 255);
    color: #0e3960;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.4s ease;
}

#header.ativo{
    top: -95px;
    opacity: 0;
}

#container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box-img{
    width: 180px;
    height: 70px;
    display: flex;
    align-items: center;
}
.logo {
    width: 140px;
    float: left;
}
#nav1{
    margin-left: 8%;
    display: flex;
    justify-content: center;
}
#login{
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
}
#user-div{
    display: flex;
    align-items: center;
    list-style: none;
}
#opt-nome{
    display: none;
}
#opt-sair{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
}
header nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    color: #0e3960;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 3vw;
}

a{
    transition: color 0.3s;
}

a:hover{
    color:#297caf;
}


#checkbox{
    display: none;
}

#botao{
    display: none;
    font-size: 40px;
    color:#00304D;
    cursor: pointer;
    float: right;
    margin-right: 10%;
}

/* modal */
/* botão do usuário */
#user-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.user-foto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* modal escondido por padrão */
.modal {
    display: none;
    position: fixed;
    top: 95px;
    right: 120px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 1000;
}

/* conteúdo */
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

#nome-modal {
    font-size: 18px;
    margin-bottom: 5px;
}

#link-modal {
    font-size: 14px;
    float: left;
}

.user-foto-modal {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: bold;
}

.user-info .info h3 {
    margin: 0;
}

.user-info .info a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.logout {
    text-align: right;
}

.logout a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* botão fechar (opcional) */
#close-modal {
    cursor: pointer;
    font-size: 30px;
    float: right;
    width: 10px;
    margin-left: 200px;
    margin-top: -14px;
    margin-bottom: -15px;
}

#sair-modal {
    font-size: 14px;
}